@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.era-intro {
  @include slide-base;
  color: $color-primary;

  h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  > span {
    opacity: 0.6;
  }

  p {
    max-width: 600px;
    margin-top: 1rem;
    margin-inline: auto;
  }
}