// ABSTRACTS
@use "./abstracts/variables";
@use "./abstracts/mixins";

// BASE
@use "./base/reset";
@use "./base/globals";
@use "./base/typography";

// LAYOUT
@use "./layout/container";
@use "./layout/section";

// COMPONENTS
@use "./components/hero";
@use "./components/overview";
@use "./components/era-intro";
@use "./components/album";
@use "./components/milestone";
@use "./components/background";
@use "./components/bento-cover-3d";



html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

section,
.slide {
  scroll-snap-align: start;
}